* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*TABLA*/
table{
    width: 70%;
    border-collapse: collapse;
    margin: auto;
}
td, th {
    width: 25%;
    vertical-align: top;
    border: 1px solid #000; 
    padding: 0.3em;
    text-align: center;
    background-color: #f2f2f2;
}

th{
    background-color: darkorange;
    color: white;
}

/*TEXTO*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h2 {
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 0px;
}

body {
    margin:0px;
    background-color: black;
}
.fondo{
    margin-top: 0!important;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
}
div.titulo{
    display:inline-block;
    margin-top: 2px;
    font-size: 2.3em;
    line-height: 1.3em;
    margin-left: 95px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #000080;
}

p{
    text-align: center;
}

/*FORMULARIOS Y BOTONES*/
button {
    background-color: darkorange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #C45600;
}

div.boton_logout {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 3;
}
div.botones1 {
    text-align: center;
}

.botones {
    margin-top:10px
}
.botones button {
    margin-top:10px

}

input[type=date], input[type=datetime-local], input[type=decimal], input[type=number], input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: darkorange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #C45600;
}

/*FILAS Y COLUMNAS*/
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/*CONTENEDORES*/
div.container {
    display:flex
}

.container2 {
    background-color: #f2f2f2;
    padding: 20px;
    width:600px;
    position: relative;
    margin:auto;
    margin-top: 230px;
    border-radius: 20px
}
.container3 {
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    position: relative;
    margin:auto;
    margin-top: 100px;
    border-radius: 20px;
}

/*IMAGENES*/
div.container img {
    width:30%

}

.logo1{
    position: absolute;
    z-index: 4;
    left:30px;
    top:30px;
    display: flex;
}
.logo {
    position: absolute;
    z-index: 4;
    left:30px;
    top:30px;
}
.fondo {
    position: absolute;
    top:0px;
    opacity: 0.5;
}
.superior{
    height: 200px;
    width: 200px;
    background-color: #f2f2f2;
    border-radius: 20%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}

/*MEDIA*/
@media screen and (max-width: 600px) {
    .container2, .container3 {
        width: 100%;
        z-index: -1;
    }
    .logo1 img {
        width: 50px;
        height: 50px;
    }
    .col-25, .col-75, input[type=submit], button:not(.evento) {
        width: 100%;
        margin-top: 0;
    }
    table {
        width: 70%;
        margin-top: 0;
    }
    .img_fondo{
        width: 100%;
        height: 1200px;
    }
}
.alerta{
    color :red;
    font-size:12px;
}
